.box-chamada {
  padding: 50px 0;
  text-align: center;
}
.box-chamada h1 {
  color: var(--default-bg);
  font-size: 34px;
  margin: 0 0 20px 0;
}
.box-chamada h3 {
  color: #aafaff;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

@media (min-width: 760px) {
  .box-chamada {
    padding: 90px 0;
  }
  .box-chamada h1 {
    font-size: 64px;
  }
  .box-chamada h3 {
    font-size: 30px;
  }
}

.box-filtro {
  background-color: var(--default-bg);
  border-radius: 10px;
  box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.1), 0px 10px 10px rgba(0, 0, 0, 0.04);
}
.box-btn {
  background-color: var(--background-page);
  display: flex;
  justify-content: flex-end;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-top: 15px;
  padding: 15px 15px;
}

.box-filtro .before-input {
  font-size: 20px;
}

.json-resposta {
  background-color: var(--background-page);
  border-radius: 10px;
  margin: 100px auto 100px;
  max-width: 650px;
  padding: 10px 20px;
}
.json-resposta h4 {
  font-size: 20px;
  margin: 0;
}
.json-resposta span span {
  display: block;
  font-size: 20px;
  margin-left: 40px;
  color: #2d3748;
}

.json-resposta span span:first-child,
.json-resposta span span:last-child {
  margin: 0;
}
