body {
  background-color: var(--background-page);
  color: var(--color-page);
}

[hidden],
.hidden {
  display: none !important;
}

*:focus {
  outline: none;
}
.app-background {
  background: linear-gradient(180deg, #a0aec0 0%, #718096 100%);
  height: 547px;
  position: absolute;
  top: 0;
  width: 100%;
}

.box-app {
  overflow: auto;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
}
.box-app > header,
.box-app > div {
  max-width: 1020px;
  margin: auto;
  width: 100%;
}
.box-app > div {
  padding: 0 15px;
}

.row {
  display: block;
  margin: 0px -10px !important;
  padding: 0 15px !important;
}

[class*='col-'] {
  display: inline-block;
  padding: 0 10px;
  width: 100%;
}

@media (min-width: 760px) {
  .col-1 {
    width: calc(100% / 12);
  }
  .col-2 {
    width: calc(100% / 12 * 2);
  }
  .col-3 {
    width: calc(100% / 4);
  }
  .col-4 {
    width: calc(100% / 12 * 4);
  }
  .col-5 {
    width: calc(100% / 12 * 5);
  }
  .col-6 {
    width: calc(100% / 2);
  }
  .col-7 {
    width: calc(100% / 12 * 7);
  }
  .col-8 {
    width: calc(100% / 12 * 8);
  }
  .col-9 {
    width: calc(100% / 12 * 9);
  }
  .col-10 {
    width: calc(100% / 12 * 10);
  }
  .col-11 {
    width: calc(100% / 12 * 11);
  }
  .col-12 {
    width: calc(100%);
  }
}
