:root {
  --default-bg: #fff;
  --default-bgh: #e6e6e6;
  --default-color: #4a5568;

  --primary-bg: #667eea;
  --primary-bgh: #465cbb;
  --primary-color: #fff;

  --secondary-bg: #6c757d;
  --secondary-bgh: #444444;
  --secondary-color: #fff;

  --success-bg: #008327;
  --success-bgh: #00561a;
  --success-color: #fff;

  --error-bg: #940404;
  --error-bgh: #640101;
  --error-color: #fff;

  --warning-bg: #c47500;
  --warning-bgh: #a06000;
  --warning-color: #fff;

  --scrollbar-track: #f1f1f1;
  --scrollbar-thumb: #3e5055;
  --scrollbar-thumbh: #2f3d41;

  --background-page: #edf2f7;
  --color-page: #4a5568;

  --background-header: #718096;
  --color-header: #222;

  --input-bg: transparent;
  --input-bgh: #cbd5e0;
  --input-color: #4a5568;

  --list-bg: transparent;
  --list-bgh: #2f3031;
  --list-color: #fff;

  --modal-bg: #222;
  --modal-bgo: #000000c9;
  --modal-bgh: #444;
  --modal-color: #fff;
}
